node-red/leads_capture_flow.json
[
    {
        "id": "300f3dcabaae5254",
        "type": "tab",
        "label": "Leads Collection",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5c3484cfe8d222c6",
        "type": "group",
        "z": "300f3dcabaae5254",
        "name": "Endpoint for downloading files from NR Dashboard",
        "style": {
            "label": true
        },
        "nodes": [
            "f395db07c44ce272",
            "5de7cbb4.fa21a4",
            "08f4b857295a06ea",
            "82514ab51ae32dc1",
            "2a312349cf93a068",
            "f601341bf3d709f1",
            "024e7bc21402d04b",
            "789d8738382dfb2b"
        ],
        "x": 54,
        "y": 1779,
        "w": 772,
        "h": 262
    },
    {
        "id": "7bce341e9ede8459",
        "type": "group",
        "z": "300f3dcabaae5254",
        "name": "Extension: Read csv raw data to do anything else",
        "style": {
            "label": true
        },
        "nodes": [
            "011e679adeadd81a",
            "9f84c5af73f2381e",
            "b220a4c81e6e47b5"
        ],
        "x": 54,
        "y": 2079,
        "w": 812,
        "h": 82
    },
    {
        "id": "6a99844851e518d9",
        "type": "group",
        "z": "300f3dcabaae5254",
        "name": "WARNING! This will delete all the collected raw data! ",
        "style": {
            "label": true
        },
        "nodes": [
            "bb590bcad46fb2aa",
            "953e9f030d198554",
            "26058e38c191d8db"
        ],
        "x": 894,
        "y": 179,
        "w": 592,
        "h": 82
    },
    {
        "id": "6b14bfafa47815d0",
        "type": "group",
        "z": "300f3dcabaae5254",
        "name": "Click this to enable the whole service",
        "style": {
            "label": true
        },
        "nodes": [
            "d5c65efc0e1c8afd"
        ],
        "x": 54,
        "y": 179,
        "w": 292,
        "h": 82
    },
    {
        "id": "cc1a0aabc6f9a099",
        "type": "group",
        "z": "300f3dcabaae5254",
        "name": "Click this if you have changed form content and its data processing",
        "style": {
            "label": true
        },
        "nodes": [
            "8e100fc20eb9cc08"
        ],
        "x": 54,
        "y": 479,
        "w": 423,
        "h": 82
    },
    {
        "id": "9fb3ef259676f8ba",
        "type": "group",
        "z": "300f3dcabaae5254",
        "name": "Submission content processing",
        "style": {
            "label": true
        },
        "nodes": [
            "b30e82f14f1580b2",
            "b674d50b2792a25e",
            "d57746a85ace0cc7",
            "3b07f33943894f5d",
            "33f18522a8fa559b",
            "46166efbd1b352d2",
            "8b01e422117ef5c9",
            "b47d856dc6eae24d",
            "5f2cdcecfcc34dd1",
            "bb021cdc1d2821ed",
            "7ec6143318c871a7",
            "22f1cd0863b39f32",
            "455fb9e1c35b1614",
            "3096c7196a34d5b0",
            "32fe3d704441d946",
            "a595fe161f1c05f7",
            "87f41037314d50e1",
            "45b1b36955baa6d8",
            "6ce6a3449757bdd7",
            "fb74a698ef0d0f18",
            "b88641da6648e816",
            "f451ee70c06ad79b",
            "9b7272c2a36e6388",
            "84a2120ee45a86ae"
        ],
        "x": 54,
        "y": 959,
        "w": 1172,
        "h": 742
    },
    {
        "id": "947567918be1c426",
        "type": "group",
        "z": "300f3dcabaae5254",
        "name": "Form Generation",
        "style": {
            "label": true
        },
        "nodes": [
            "0b8cc7c7000f5045",
            "f57c22451f35936c",
            "9d2bac5f706058a9",
            "8b2d341a277bd6ec",
            "b28edb6c62edf55f",
            "217b1db1b7e63b30",
            "888f79281d4f3b88",
            "45b6edb61164147a",
            "bf94f5b786fa7eaf",
            "3af0bac24c5dfa80",
            "2881ee93a5b323b7",
            "35040977e95e39a2",
            "c2114f6764987257",
            "98ad55434097d5d3",
            "956fadae945c6aef",
            "17f2a471caec1de8",
            "ab73de6f58e2033f",
            "16c0c24583fe699c",
            "345fc7ee1f3418f0",
            "fbb9db512f38c619",
            "5e5ec35889ce8f0d"
        ],
        "x": 54,
        "y": 599,
        "w": 1152,
        "h": 322
    },
    {
        "id": "2074788be6c900ee",
        "type": "group",
        "z": "300f3dcabaae5254",
        "name": "Channels Generation",
        "style": {
            "label": true
        },
        "nodes": [
            "cd4e2faf6aaa0aa1",
            "c120259cd3327442",
            "6e448056bee3daaf",
            "1b488ad187f45a56",
            "e5cdd2aaba099052",
            "7e984debfb591566",
            "49211e32fbee5772",
            "be20a7640ddb152f"
        ],
        "x": 54,
        "y": 299,
        "w": 1052,
        "h": 162
    },
    {
        "id": "0b8cc7c7000f5045",
        "type": "smeFormSetup",
        "z": "300f3dcabaae5254",
        "g": "947567918be1c426",
        "connector": "f9adc5c8242ed986",
        "name": "",
        "saveLocation": "#:(file)::savedForm",
        "saveLocationType": "flow",
        "submitEnabled": "1",
        "retainStatus": "0",
        "submitText": "Submit",
        "submitTextType": "str",
        "recipientId": "",
        "recipientIdType": "str",
        "groupChatId": "",
        "groupChatIdType": "str",
        "channelId": "#:(file)::leadsResultsChannelId",
        "channelIdType": "flow",
        "receiverType": "channel",
        "refName": "leadsCapture",
        "refNameType": "str",
        "x": 830,
        "y": 640,
        "wires": [
            [
                "45b6edb61164147a"
            ]
        ]
    },
    {
        "id": "f57c22451f35936c",
        "type": "smeFormComponent",
        "z": "300f3dcabaae5254",
        "g": "947567918be1c426",
        "name": "",
        "reference": "name",
        "referenceType": "str",
        "component": "textbox",
        "title": "Name *",
        "titleType": "str",
        "required": "true",
        "requiredType": "bool",
        "text": "",
        "textType": "str",
        "verticalList": "true",
        "verticalListType": "bool",
        "buttons": [],
        "choices": [],
        "choiceSelectionMode": "list",
        "switchValue": "false",
        "switchValueType": "bool",
        "sliderMin": 0,
        "sliderMinType": "num",
        "sliderMax": 10,
        "sliderMaxType": "num",
        "sliderStep": 0,
        "sliderStepType": "num",
        "sliderValue": 0,
        "sliderValueType": "num",
        "actionButtonTitle": "Select",
        "actionButtonTitleType": "str",
        "multiSelection": "false",
        "multiSelectionType": "bool",
        "bucketFilter": "all",
        "x": 300,
        "y": 700,
        "wires": [
            [
                "9d2bac5f706058a9"
            ]
        ]
    },
    {
        "id": "9d2bac5f706058a9",
        "type": "smeFormComponent",
        "z": "300f3dcabaae5254",
        "g": "947567918be1c426",
        "name": "",
        "reference": "surname",
        "referenceType": "str",
        "component": "textbox",
        "title": "Surname *",
        "titleType": "str",
        "required": "true",
        "requiredType": "bool",
        "text": "",
        "textType": "str",
        "verticalList": "true",
        "verticalListType": "bool",
        "buttons": [],
        "choices": [],
        "choiceSelectionMode": "list",
        "switchValue": "false",
        "switchValueType": "bool",
        "sliderMin": 0,
        "sliderMinType": "num",
        "sliderMax": 10,
        "sliderMaxType": "num",
        "sliderStep": 0,
        "sliderStepType": "num",
        "sliderValue": 0,
        "sliderValueType": "num",
        "actionButtonTitle": "Select",
        "actionButtonTitleType": "str",
        "multiSelection": "false",
        "multiSelectionType": "bool",
        "bucketFilter": "all",
        "x": 170,
        "y": 740,
        "wires": [
            [
                "8b2d341a277bd6ec"
            ]
        ]
    },
    {
        "id": "8b2d341a277bd6ec",
        "type": "smeFormComponent",
        "z": "300f3dcabaae5254",
        "g": "947567918be1c426",
        "name": "",
        "reference": "company",
        "referenceType": "str",
        "component": "textbox",
        "title": "Company *",
        "titleType": "str",
        "required": "true",
        "requiredType": "bool",
        "text": "",
        "textType": "str",
        "verticalList": "true",
        "verticalListType": "bool",
        "buttons": [],
        "choices": [],
        "choiceSelectionMode": "list",
        "switchValue": "false",
        "switchValueType": "bool",
        "sliderMin": 0,
        "sliderMinType": "num",
        "sliderMax": 10,
        "sliderMaxType": "num",
        "sliderStep": 0,
        "sliderStepType": "num",
        "sliderValue": 0,
        "sliderValueType": "num",
        "actionButtonTitle": "Select",
        "actionButtonTitleType": "str",
        "multiSelection": "false",
        "multiSelectionType": "bool",
        "bucketFilter": "all",
        "x": 370,
        "y": 740,
        "wires": [
            [
                "b28edb6c62edf55f"
            ]
        ]
    },
    {
        "id": "b28edb6c62edf55f",
        "type": "smeFormComponent",
        "z": "300f3dcabaae5254",
        "g": "947567918be1c426",
        "name": "",
        "reference": "site_role",
        "referenceType": "str",
        "component": "textbox",
        "title": "Site/Role",
        "titleType": "str",
        "required": "false",
        "requiredType": "bool",
        "text": "",
        "textType": "str",
        "verticalList": "true",
        "verticalListType": "bool",
        "buttons": [],
        "choices": [],
        "choiceSelectionMode": "list",
        "switchValue": "false",
        "switchValueType": "bool",
        "sliderMin": 0,
        "sliderMinType": "num",
        "sliderMax": 10,
        "sliderMaxType": "num",
        "sliderStep": 0,
        "sliderStepType": "num",
        "sliderValue": 0,
        "sliderValueType": "num",
        "actionButtonTitle": "Select",
        "actionButtonTitleType": "str",
        "multiSelection": "false",
        "multiSelectionType": "bool",
        "bucketFilter": "all",
        "x": 170,
        "y": 780,
        "wires": [
            [
                "217b1db1b7e63b30"
            ]
        ]
    },
    {
        "id": "217b1db1b7e63b30",
        "type": "smeFormComponent",
        "z": "300f3dcabaae5254",
        "g": "947567918be1c426",
        "name": "",
        "reference": "email",
        "referenceType": "str",
        "component": "textbox",
        "title": "E-Mail *",
        "titleType": "str",
        "required": "true",
        "requiredType": "bool",
        "text": "",
        "textType": "str",
        "verticalList": "true",
        "verticalListType": "bool",
        "buttons": [],
        "choices": [],
        "choiceSelectionMode": "list",
        "switchValue": "false",
        "switchValueType": "bool",
        "sliderMin": 0,
        "sliderMinType": "num",
        "sliderMax": 10,
        "sliderMaxType": "num",
        "sliderStep": 0,
        "sliderStepType": "num",
        "sliderValue": 0,
        "sliderValueType": "num",
        "actionButtonTitle": "Select",
        "actionButtonTitleType": "str",
        "multiSelection": "false",
        "multiSelectionType": "bool",
        "bucketFilter": "all",
        "x": 360,
        "y": 780,
        "wires": [
            [
                "888f79281d4f3b88"
            ]
        ]
    },
    {
        "id": "888f79281d4f3b88",
        "type": "smeFormComponent",
        "z": "300f3dcabaae5254",
        "g": "947567918be1c426",
        "name": "",
        "reference": "phone",
        "referenceType": "str",
        "component": "textbox",
        "title": "Phone",
        "titleType": "str",
        "required": "false",
        "requiredType": "bool",
        "text": "",
        "textType": "str",
        "verticalList": "true",
        "verticalListType": "bool",
        "buttons": [],
        "choices": [],
        "choiceSelectionMode": "list",
        "switchValue": "false",
        "switchValueType": "bool",
        "sliderMin": 0,
        "sliderMinType": "num",
        "sliderMax": 10,
        "sliderMaxType": "num",
        "sliderStep": 0,
        "sliderStepType": "num",
        "sliderValue": 0,
        "sliderValueType": "num",
        "actionButtonTitle": "Select",
        "actionButtonTitleType": "str",
        "multiSelection": "false",
        "multiSelectionType": "bool",
        "bucketFilter": "all",
        "x": 160,
        "y": 820,
        "wires": [
            [
                "bf94f5b786fa7eaf"
            ]
        ]
    },
    {
        "id": "45b6edb61164147a",
        "type": "smeFormComponent",
        "z": "300f3dcabaae5254",
        "g": "947567918be1c426",
        "name": "",
        "reference": "title",
        "referenceType": "str",
        "component": "label",
        "title": "Leads Capture Demo",
        "titleType": "str",
        "required": "false",
        "requiredType": "bool",
        "text": "",
        "textType": "str",
        "verticalList": "true",
        "verticalListType": "bool",
        "buttons": [],
        "choices": [],
        "choiceSelectionMode": "list",
        "switchValue": "false",
        "switchValueType": "bool",
        "sliderMin": 0,
        "sliderMinType": "num",
        "sliderMax": 10,
        "sliderMaxType": "num",
        "sliderStep": 0,
        "sliderStepType": "num",
        "sliderValue": 0,
        "sliderValueType": "num",
        "actionButtonTitle": "Select",
        "actionButtonTitleType": "str",
        "multiSelection": "false",
        "multiSelectionType": "bool",
        "bucketFilter": "all",
        "x": 140,
        "y": 700,
        "wires": [
            [
                "f57c22451f35936c"
            ]
        ]
    },
    {
        "id": "bf94f5b786fa7eaf",
        "type": "smeFormComponent",
        "z": "300f3dcabaae5254",
        "g": "947567918be1c426",
        "name": "",
        "reference": "technicalReference",
        "referenceType": "str",
        "component": "textbox",
        "title": "Technical reference",
        "titleType": "str",
        "required": "false",
        "requiredType": "bool",
        "text": "",
        "textType": "str",
        "verticalList": "true",
        "verticalListType": "bool",
        "buttons": [],
        "choices": [],
        "choiceSelectionMode": "list",
        "switchValue": "false",
        "switchValueType": "bool",
        "sliderMin": 0,
        "sliderMinType": "num",
        "sliderMax": 10,
        "sliderMaxType": "num",
        "sliderStep": 0,
        "sliderStepType": "num",
        "sliderValue": 0,
        "sliderValueType": "num",
        "actionButtonTitle": "Select",
        "actionButtonTitleType": "str",
        "multiSelection": "false",
        "multiSelectionType": "bool",
        "bucketFilter": "all",
        "x": 420,
        "y": 820,
        "wires": [
            [
                "3af0bac24c5dfa80"
            ]
        ]
    },
    {
        "id": "3af0bac24c5dfa80",
        "type": "smeFormComponent",
        "z": "300f3dcabaae5254",
        "g": "947567918be1c426",
        "name": "",
        "reference": "interestedIn",
        "referenceType": "str",
        "component": "multichoice",
        "title": "Interested in *",
        "titleType": "str",
        "required": "true",
        "requiredType": "bool",
        "text": "",
        "textType": "str",
        "verticalList": "true",
        "verticalListType": "bool",
        "buttons": [],
        "choices": [
            {
                "name": "CustoM 2.0",
                "value": "CustoM 2.0"
            },
            {
                "name": "Electrofit Systems",
                "value": "Electrofit Systems"
            },
            {
                "name": "e-Comer",
                "value": "e-Comer"
            },
            {
                "name": "I&M",
                "value": "I&M"
            },
            {
                "name": " Solbian",
                "value": " Solbian"
            },
            {
                "name": "CalPower",
                "value": "CalPower"
            },
            {
                "name": "semilimes",
                "value": "semilimes"
            },
            {
                "name": "HBK",
                "value": "HBK"
            },
            {
                "name": "Other",
                "value": "Other"
            }
        ],
        "choiceSelectionMode": "list",
        "switchValue": "false",
        "switchValueType": "bool",
        "sliderMin": 0,
        "sliderMinType": "num",
        "sliderMax": 10,
        "sliderMaxType": "num",
        "sliderStep": 0,
        "sliderStepType": "num",
        "sliderValue": 0,
        "sliderValueType": "num",
        "actionButtonTitle": "Select",
        "actionButtonTitleType": "str",
        "multiSelection": "false",
        "multiSelectionType": "bool",
        "bucketFilter": "all",
        "x": 190,
        "y": 860,
        "wires": [
            [
                "2881ee93a5b323b7"
            ]
        ]
    },
    {
        "id": "2881ee93a5b323b7",
        "type": "smeFormComponent",
        "z": "300f3dcabaae5254",
        "g": "947567918be1c426",
        "name": "",
        "reference": "interestedInOther",
        "referenceType": "str",
        "component": "textbox",
        "title": "Other Interest",
        "titleType": "str",
        "required": "false",
        "requiredType": "bool",
        "text": "",
        "textType": "str",
        "verticalList": "true",
        "verticalListType": "bool",
        "buttons": [],
        "choices": [],
        "choiceSelectionMode": "list",
        "switchValue": "false",
        "switchValueType": "bool",
        "sliderMin": 0,
        "sliderMinType": "num",
        "sliderMax": 10,
        "sliderMaxType": "num",
        "sliderStep": 0,
        "sliderStepType": "num",
        "sliderValue": 0,
        "sliderValueType": "num",
        "actionButtonTitle": "Select",
        "actionButtonTitleType": "str",
        "multiSelection": "false",
        "multiSelectionType": "bool",
        "bucketFilter": "all",
        "x": 430,
        "y": 860,
        "wires": [
            [
                "35040977e95e39a2"
            ]
        ]
    },
    {
        "id": "35040977e95e39a2",
        "type": "smeFormComponent",
        "z": "300f3dcabaae5254",
        "g": "947567918be1c426",
        "name": "",
        "reference": "leadType",
        "referenceType": "str",
        "component": "multichoice",
        "title": "Lead Type *",
        "titleType": "str",
        "required": "true",
        "requiredType": "bool",
        "text": "",
        "textType": "str",
        "verticalList": "true",
        "verticalListType": "bool",
        "buttons": [],
        "choices": [
            {
                "name": "Customer",
                "value": "Customer"
            },
            {
                "name": "Supplier",
                "value": "Supplier"
            },
            {
                "name": "HR",
                "value": "HR"
            },
            {
                "name": "University",
                "value": "University"
            },
            {
                "name": "Other",
                "value": "Other"
            }
        ],
        "choiceSelectionMode": "list",
        "switchValue": "false",
        "switchValueType": "bool",
        "sliderMin": 0,
        "sliderMinType": "num",
        "sliderMax": 10,
        "sliderMaxType": "num",
        "sliderStep": 0,
        "sliderStepType": "num",
        "sliderValue": 0,
        "sliderValueType": "num",
        "actionButtonTitle": "Select",
        "actionButtonTitleType": "str",
        "multiSelection": "false",
        "multiSelectionType": "bool",
        "bucketFilter": "all",
        "x": 700,
        "y": 700,
        "wires": [
            [
                "c2114f6764987257"
            ]
        ]
    },
    {
        "id": "c2114f6764987257",
        "type": "smeFormComponent",
        "z": "300f3dcabaae5254",
        "g": "947567918be1c426",
        "name": "",
        "reference": "leadTypeOther",
        "referenceType": "str",
        "component": "textbox",
        "title": "Other Lead Type",
        "titleType": "str",
        "required": "false",
        "requiredType": "bool",
        "text": "",
        "textType": "str",
        "verticalList": "true",
        "verticalListType": "bool",
        "buttons": [],
        "choices": [],
        "choiceSelectionMode": "list",
        "switchValue": "false",
        "switchValueType": "bool",
        "sliderMin": 0,
        "sliderMinType": "num",
        "sliderMax": 10,
        "sliderMaxType": "num",
        "sliderStep": 0,
        "sliderStepType": "num",
        "sliderValue": 0,
        "sliderValueType": "num",
        "actionButtonTitle": "Select",
        "actionButtonTitleType": "str",
        "multiSelection": "false",
        "multiSelectionType": "bool",
        "bucketFilter": "all",
        "x": 970,
        "y": 700,
        "wires": [
            [
                "98ad55434097d5d3"
            ]
        ]
    },
    {
        "id": "98ad55434097d5d3",
        "type": "smeFormComponent",
        "z": "300f3dcabaae5254",
        "g": "947567918be1c426",
        "name": "",
        "reference": "businessCard",
        "referenceType": "str",
        "component": "photopicker",
        "title": "Business Card",
        "titleType": "str",
        "required": "false",
        "requiredType": "bool",
        "text": "",
        "textType": "str",
        "verticalList": "true",
        "verticalListType": "bool",
        "buttons": [],
        "choices": [],
        "choiceSelectionMode": "list",
        "switchValue": "false",
        "switchValueType": "bool",
        "sliderMin": 0,
        "sliderMinType": "num",
        "sliderMax": 10,
        "sliderMaxType": "num",
        "sliderStep": 0,
        "sliderStepType": "num",
        "sliderValue": 0,
        "sliderValueType": "num",
        "actionButtonTitle": "Select",
        "actionButtonTitleType": "str",
        "multiSelection": "false",
        "multiSelectionType": "bool",
        "bucketFilter": "all",
        "x": 720,
        "y": 740,
        "wires": [
            [
                "956fadae945c6aef"
            ]
        ]
    },
    {
        "id": "956fadae945c6aef",
        "type": "smeFormComponent",
        "z": "300f3dcabaae5254",
        "g": "947567918be1c426",
        "name": "",
        "reference": "photo",
        "referenceType": "str",
        "component": "photopicker",
        "title": "Photo",
        "titleType": "str",
        "required": "false",
        "requiredType": "bool",
        "text": "",
        "textType": "str",
        "verticalList": "true",
        "verticalListType": "bool",
        "buttons": [],
        "choices": [],
        "choiceSelectionMode": "list",
        "switchValue": "false",
        "switchValueType": "bool",
        "sliderMin": 0,
        "sliderMinType": "num",
        "sliderMax": 10,
        "sliderMaxType": "num",
        "sliderStep": 0,
        "sliderStepType": "num",
        "sliderValue": 0,
        "sliderValueType": "num",
        "actionButtonTitle": "Select",
        "actionButtonTitleType": "str",
        "multiSelection": "false",
        "multiSelectionType": "bool",
        "bucketFilter": "all",
        "x": 950,
        "y": 740,
        "wires": [
            [
                "17f2a471caec1de8"
            ]
        ]
    },
    {
        "id": "17f2a471caec1de8",
        "type": "smeFormComponent",
        "z": "300f3dcabaae5254",
        "g": "947567918be1c426",
        "name": "",
        "reference": "shortDescription",
        "referenceType": "str",
        "component": "textbox",
        "title": "Short Description *",
        "titleType": "str",
        "required": "true",
        "requiredType": "bool",
        "text": "",
        "textType": "str",
        "verticalList": "true",
        "verticalListType": "bool",
        "buttons": [],
        "choices": [],
        "choiceSelectionMode": "list",
        "switchValue": "false",
        "switchValueType": "bool",
        "sliderMin": 0,
        "sliderMinType": "num",
        "sliderMax": 10,
        "sliderMaxType": "num",
        "sliderStep": 0,
        "sliderStepType": "num",
        "sliderValue": 0,
        "sliderValueType": "num",
        "actionButtonTitle": "Select",
        "actionButtonTitleType": "str",
        "multiSelection": "false",
        "multiSelectionType": "bool",
        "bucketFilter": "all",
        "x": 710,
        "y": 780,
        "wires": [
            [
                "ab73de6f58e2033f"
            ]
        ]
    },
    {
        "id": "ab73de6f58e2033f",
        "type": "smeFormComponent",
        "z": "300f3dcabaae5254",
        "g": "947567918be1c426",
        "name": "",
        "reference": "nextStep",
        "referenceType": "str",
        "component": "multichoice",
        "title": "Next step",
        "titleType": "str",
        "required": "false",
        "requiredType": "bool",
        "text": "",
        "textType": "str",
        "verticalList": "true",
        "verticalListType": "bool",
        "buttons": [],
        "choices": [
            {
                "name": "Follow-up email",
                "value": "Follow-up email"
            },
            {
                "name": "Recall",
                "value": "Recall"
            },
            {
                "name": "Web Meeting",
                "value": "Web Meeting"
            },
            {
                "name": "Visit @ CustoM 2.0",
                "value": "Visit @ CustoM 2.0"
            },
            {
                "name": "Visit @ Customer site",
                "value": "Visit @ Customer site"
            }
        ],
        "choiceSelectionMode": "list",
        "switchValue": "false",
        "switchValueType": "bool",
        "sliderMin": 0,
        "sliderMinType": "num",
        "sliderMax": 10,
        "sliderMaxType": "num",
        "sliderStep": 0,
        "sliderStepType": "num",
        "sliderValue": 0,
        "sliderValueType": "num",
        "actionButtonTitle": "Select",
        "actionButtonTitleType": "str",
        "multiSelection": "false",
        "multiSelectionType": "bool",
        "bucketFilter": "all",
        "x": 960,
        "y": 780,
        "wires": [
            [
                "16c0c24583fe699c"
            ]
        ]
    },
    {
        "id": "16c0c24583fe699c",
        "type": "smeMessage",
        "z": "300f3dcabaae5254",
        "g": "947567918be1c426",
        "name": "",
        "message": "form",
        "text": "This is a text message.",
        "textType": "str",
        "html": "<b>This is an html message</b>",
        "htmlType": "str",
        "fileIds": "",
        "fileIdsType": "str",
        "contactIds": "",
        "contactIdsType": "str",
        "title": "",
        "titleType": "str",
        "description": "",
        "descriptionType": "str",
        "start": "",
        "startType": "num",
        "end": "",
        "endType": "num",
        "allDay": "true",
        "allDayType": "bool",
        "locationName": "myLocation",
        "locationNameType": "str",
        "latitude": "",
        "latitudeType": "str",
        "longitude": "",
        "longitudeType": "str",
        "url": "",
        "urlType": "str",
        "enableFullScreenView": "1",
        "viewSize": "1:2",
        "channelId": "",
        "channelIdType": "str",
        "tunnelId": "",
        "tunnelIdType": "str",
        "formLocation": "#:(file)::savedForm",
        "formLocationType": "flow",
        "x": 670,
        "y": 860,
        "wires": [
            [
                "fbb9db512f38c619"
            ]
        ]
    },
    {
        "id": "345fc7ee1f3418f0",
        "type": "smeSender",
        "z": "300f3dcabaae5254",
        "g": "947567918be1c426",
        "connector": "f9adc5c8242ed986",
        "async": "0",
        "name": "",
        "actionName": "channel_message_send",
        "actionText": "Channel - Send Message",
        "recipientId": "",
        "recipientIdType": "str",
        "messageId": "",
        "messageIdType": "str",
        "limit": 0,
        "limitType": "num",
        "recipientIds": "",
        "recipientIdsType": "str",
        "groupChatId": "",
        "groupChatIdType": "str",
        "channelId": "#:(file)::leadsFormChannelId",
        "channelIdType": "flow",
        "title": "",
        "titleType": "str",
        "saveLocation": "#:(file)::savedFormMessageId",
        "saveLocationType": "flow",
        "saveRequestIdLocation": "savedRequestId",
        "saveRequestIdLocationType": "flow",
        "cameraList": [],
        "logToConsole": false,
        "x": 1050,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "fbb9db512f38c619",
        "type": "switch",
        "z": "300f3dcabaae5254",
        "g": "947567918be1c426",
        "name": "New?",
        "property": "#:(file)::savedFormMessageId",
        "propertyType": "flow",
        "rules": [
            {
                "t": "null"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 830,
        "y": 860,
        "wires": [
            [
                "345fc7ee1f3418f0"
            ],
            [
                "5e5ec35889ce8f0d"
            ]
        ]
    },
    {
        "id": "5e5ec35889ce8f0d",
        "type": "smeSender",
        "z": "300f3dcabaae5254",
        "g": "947567918be1c426",
        "connector": "f9adc5c8242ed986",
        "async": "0",
        "name": "",
        "actionName": "channel_message_update",
        "actionText": "Channel - Update Message",
        "recipientId": "",
        "recipientIdType": "str",
        "messageId": "#:(file)::savedFormMessageId",
        "messageIdType": "flow",
        "limit": 0,
        "limitType": "num",
        "recipientIds": "",
        "recipientIdsType": "str",
        "groupChatId": "",
        "groupChatIdType": "str",
        "channelId": "",
        "channelIdType": "str",
        "title": "",
        "titleType": "str",
        "saveLocation": "savedEntityId",
        "saveLocationType": "flow",
        "saveRequestIdLocation": "savedRequestId",
        "saveRequestIdLocationType": "flow",
        "cameraList": [],
        "logToConsole": false,
        "x": 1060,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "b30e82f14f1580b2",
        "type": "smeListener",
        "z": "300f3dcabaae5254",
        "g": "9fb3ef259676f8ba",
        "connector": "f9adc5c8242ed986",
        "x": 170,
        "y": 1000,
        "wires": [
            [
                "b674d50b2792a25e"
            ]
        ]
    },
    {
        "id": "b674d50b2792a25e",
        "type": "smeFilter",
        "z": "300f3dcabaae5254",
        "g": "9fb3ef259676f8ba",
        "connector": "f9adc5c8242ed986",
        "name": "",
        "filter": "submission",
        "reference": "leadsCapture",
        "referenceType": "str",
        "messageId": "#:(file)::savedFormMessageId",
        "messageIdType": "flow",
        "extractValues": true,
        "chat": "p2p",
        "senderId": "",
        "senderIdType": "str",
        "groupChatId": "",
        "groupChatIdType": "str",
        "channelId": "",
        "channelIdType": "str",
        "requestId": "savedRequestId",
        "requestIdType": "flow",
        "saveLocation": "filteredEvent",
        "saveLocationType": "msg",
        "x": 440,
        "y": 1000,
        "wires": [
            [
                "87f41037314d50e1"
            ]
        ]
    },
    {
        "id": "d57746a85ace0cc7",
        "type": "function",
        "z": "300f3dcabaae5254",
        "g": "9fb3ef259676f8ba",
        "name": "Create Row",
        "func": "/* Global settings */\nlet gPath = '/data/localfiles/leads/media/';\n/* Preparing pictures ID */\nmsg.temp = {};\nlet bId = msg.temp.businessCardId = [];\nlet bPath = msg.temp.businessCardPath = [];\nlet pId = msg.temp.photoId = [];\nlet pPath = msg.temp.photoPath = [];\n\n/* Initializing final vars for csv row */\nmsg.temp.businessCardFinalRow = [];\nmsg.temp.photoFinalRow = [];\n\n\nif (msg.businessCard) {\n    msg.businessCard.forEach(function(bcElem) {\n        bId.push(bcElem.FileID)\n        bPath.push(gPath + bcElem.FileID);\n    });\n}\n\nif (msg.photo) {\n    msg.photo.forEach(function(pElem) {\n        pId.push(pElem.FileID)\n        pPath.push(gPath + pElem.FileID);\n    });\n}\n\n\nvar compilerId = \n    msg._sme && \n    msg._sme.receivedMsg &&\n    msg._sme.receivedMsg.eventBody &&\n    msg._sme.receivedMsg.eventBody.senderId;\n\nmsg.columns = \n    \"name,\\\n    surname,\\\n    company,\\\n    site_role,\\\n    email,\\\n    phone,\\\n    technicalReference,\\\n    interestedIn,\\\n    interestedInOther,\\\n    leadType,\\\n    leadTypeOther,\\\n    businessCard,\\\n    photo,\\\n    shortDescription,\\\n    nextStep,\\\n    submitterId,\\\n    submitDate\"\n\nmsg.csvRow = {\n    name: msg.name || \"\",\n    surname: msg.surname || \"\",\n    company: msg.company || \"\",\n    site_role: msg.site_role || \"\",\n    email: msg.email || \"\",\n    phone: msg.phone || \"\",\n    technicalReference: msg.technicalReference || \"\",\n    interestedIn: (msg.interestedIn && msg.interestedIn.toString()) || \"\",\n    interestedInOther: msg.interestedInOther || \"\",\n    leadType: (msg.leadType && msg.leadType.toString()) || \"\",\n    leadTypeOther: msg.leadTypeOther || \"\",\n    businessCard: \"\",\n    photo: \"\",\n    shortDescription: msg.shortDescription || \"\",\n    nextStep: (msg.nextStep && msg.nextStep.toString()) || \"\",\n    submitterId: msg.filteredEvent.submitterId || \"\",\n    submitDate: Date.now() \n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 1080,
        "wires": [
            [
                "8b01e422117ef5c9"
            ]
        ]
    },
    {
        "id": "3b07f33943894f5d",
        "type": "csv",
        "z": "300f3dcabaae5254",
        "g": "9fb3ef259676f8ba",
        "name": "",
        "sep": ",",
        "hdrin": "",
        "hdrout": "none",
        "multi": "one",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "include_empty_strings": true,
        "include_null_values": true,
        "x": 490,
        "y": 1500,
        "wires": [
            [
                "33f18522a8fa559b"
            ]
        ]
    },
    {
        "id": "33f18522a8fa559b",
        "type": "file",
        "z": "300f3dcabaae5254",
        "g": "9fb3ef259676f8ba",
        "name": "",
        "filename": "${USERDATA}/leads/myDataCollection.csv",
        "filenameType": "env",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "utf8",
        "x": 780,
        "y": 1500,
        "wires": [
            []
        ]
    },
    {
        "id": "46166efbd1b352d2",
        "type": "change",
        "z": "300f3dcabaae5254",
        "g": "9fb3ef259676f8ba",
        "name": "Set Csv Row",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "csvRow",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 250,
        "y": 1500,
        "wires": [
            [
                "3b07f33943894f5d",
                "fb74a698ef0d0f18"
            ]
        ]
    },
    {
        "id": "8b01e422117ef5c9",
        "type": "switch",
        "z": "300f3dcabaae5254",
        "g": "9fb3ef259676f8ba",
        "name": "Business Pics?",
        "property": "temp.businessCardId",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nempty"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 260,
        "y": 1180,
        "wires": [
            [
                "5f2cdcecfcc34dd1"
            ],
            [
                "7ec6143318c871a7"
            ]
        ]
    },
    {
        "id": "b47d856dc6eae24d",
        "type": "smeDownloader",
        "z": "300f3dcabaae5254",
        "g": "9fb3ef259676f8ba",
        "connector": "f9adc5c8242ed986",
        "fileId": "temp.currentBusinessCardId",
        "fileIdType": "msg",
        "maxWidth": 0,
        "maxWidthType": "num",
        "saveFilePath": "temp.currentBusinessCardPath",
        "saveFilePathType": "msg",
        "x": 810,
        "y": 1160,
        "wires": [
            [
                "bb021cdc1d2821ed"
            ]
        ]
    },
    {
        "id": "5f2cdcecfcc34dd1",
        "type": "function",
        "z": "300f3dcabaae5254",
        "g": "9fb3ef259676f8ba",
        "name": "Set CurrentBusinessCard",
        "func": "msg.temp.currentBusinessCardId = msg.temp.businessCardId.shift();\nmsg.temp.currentBusinessCardPath = msg.temp.businessCardPath.shift();\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 1160,
        "wires": [
            [
                "b47d856dc6eae24d"
            ]
        ]
    },
    {
        "id": "bb021cdc1d2821ed",
        "type": "function",
        "z": "300f3dcabaae5254",
        "g": "9fb3ef259676f8ba",
        "name": "Add BusinessCard to Row",
        "func": "msg.temp.businessCardFinalRow.push(msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1090,
        "y": 1180,
        "wires": [
            [
                "8b01e422117ef5c9"
            ]
        ]
    },
    {
        "id": "7ec6143318c871a7",
        "type": "function",
        "z": "300f3dcabaae5254",
        "g": "9fb3ef259676f8ba",
        "name": "Stringify BusinessCardRow",
        "func": "msg.csvRow.businessCard = msg.temp.businessCardFinalRow.toString();\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 1240,
        "wires": [
            [
                "22f1cd0863b39f32"
            ]
        ]
    },
    {
        "id": "22f1cd0863b39f32",
        "type": "switch",
        "z": "300f3dcabaae5254",
        "g": "9fb3ef259676f8ba",
        "name": "Photo Pics?",
        "property": "temp.photoId",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nempty"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 250,
        "y": 1360,
        "wires": [
            [
                "3096c7196a34d5b0"
            ],
            [
                "a595fe161f1c05f7"
            ]
        ]
    },
    {
        "id": "455fb9e1c35b1614",
        "type": "smeDownloader",
        "z": "300f3dcabaae5254",
        "g": "9fb3ef259676f8ba",
        "connector": "f9adc5c8242ed986",
        "fileId": "temp.currentPhotoId",
        "fileIdType": "msg",
        "maxWidth": 0,
        "maxWidthType": "num",
        "saveFilePath": "temp.currentPhotoPath",
        "saveFilePathType": "msg",
        "x": 810,
        "y": 1340,
        "wires": [
            [
                "32fe3d704441d946"
            ]
        ]
    },
    {
        "id": "3096c7196a34d5b0",
        "type": "function",
        "z": "300f3dcabaae5254",
        "g": "9fb3ef259676f8ba",
        "name": "Set CurrentPhoto",
        "func": "msg.temp.currentPhotoId = msg.temp.photoId.shift();\nmsg.temp.currentPhotoPath = msg.temp.photoPath.shift();\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 1340,
        "wires": [
            [
                "455fb9e1c35b1614"
            ]
        ]
    },
    {
        "id": "32fe3d704441d946",
        "type": "function",
        "z": "300f3dcabaae5254",
        "g": "9fb3ef259676f8ba",
        "name": "Add Photo to Row",
        "func": "msg.temp.photoFinalRow.push(msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1050,
        "y": 1360,
        "wires": [
            [
                "22f1cd0863b39f32"
            ]
        ]
    },
    {
        "id": "a595fe161f1c05f7",
        "type": "function",
        "z": "300f3dcabaae5254",
        "g": "9fb3ef259676f8ba",
        "name": "Stringify PhotoRow",
        "func": "msg.csvRow.photo = msg.temp.photoFinalRow.toString();\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 1420,
        "wires": [
            [
                "46166efbd1b352d2"
            ]
        ]
    },
    {
        "id": "58b68042081ee974",
        "type": "file",
        "z": "300f3dcabaae5254",
        "name": "",
        "filename": "${USERDATA}/leads/test.txt",
        "filenameType": "env",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "utf8",
        "x": 430,
        "y": 100,
        "wires": [
            [
                "405be35401947398"
            ]
        ]
    },
    {
        "id": "560fa3c2a49bad5a",
        "type": "inject",
        "z": "300f3dcabaae5254",
        "name": "Create working folders",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "this is a test",
        "payloadType": "str",
        "x": 180,
        "y": 100,
        "wires": [
            [
                "58b68042081ee974"
            ]
        ]
    },
    {
        "id": "19b17c9548a801d5",
        "type": "file in",
        "z": "300f3dcabaae5254",
        "name": "",
        "filename": "${USERDATA}/leads/test.txt",
        "filenameType": "env",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 1270,
        "y": 60,
        "wires": [
            [
                "588957cc0b62a070"
            ]
        ]
    },
    {
        "id": "2ed7880e46b6715d",
        "type": "inject",
        "z": "300f3dcabaae5254",
        "name": "Test working folders",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 1010,
        "y": 60,
        "wires": [
            [
                "19b17c9548a801d5",
                "42a49c21a362bfd0"
            ]
        ]
    },
    {
        "id": "588957cc0b62a070",
        "type": "debug",
        "z": "300f3dcabaae5254",
        "name": "debug 113",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1550,
        "y": 80,
        "wires": []
    },
    {
        "id": "405be35401947398",
        "type": "file",
        "z": "300f3dcabaae5254",
        "name": "",
        "filename": "${USERDATA}/leads/media/test.txt",
        "filenameType": "env",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "utf8",
        "x": 730,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "011e679adeadd81a",
        "type": "inject",
        "z": "300f3dcabaae5254",
        "g": "7bce341e9ede8459",
        "name": "Read csv",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 160,
        "y": 2120,
        "wires": [
            [
                "9f84c5af73f2381e"
            ]
        ]
    },
    {
        "id": "9f84c5af73f2381e",
        "type": "file in",
        "z": "300f3dcabaae5254",
        "g": "7bce341e9ede8459",
        "name": "",
        "filename": "${USERDATA}/leads/myDataCollection.csv",
        "filenameType": "env",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 440,
        "y": 2120,
        "wires": [
            [
                "b220a4c81e6e47b5"
            ]
        ]
    },
    {
        "id": "b220a4c81e6e47b5",
        "type": "debug",
        "z": "300f3dcabaae5254",
        "g": "7bce341e9ede8459",
        "name": "debug 114",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 2120,
        "wires": []
    },
    {
        "id": "42a49c21a362bfd0",
        "type": "file in",
        "z": "300f3dcabaae5254",
        "name": "",
        "filename": "${USERDATA}/leads/media/test.txt",
        "filenameType": "env",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 1290,
        "y": 100,
        "wires": [
            [
                "588957cc0b62a070"
            ]
        ]
    },
    {
        "id": "87f41037314d50e1",
        "type": "change",
        "z": "300f3dcabaae5254",
        "g": "9fb3ef259676f8ba",
        "name": "Add SubmitterId",
        "rules": [
            {
                "t": "set",
                "p": "filteredEvent.submitterId",
                "pt": "msg",
                "to": "_sme.receivedMsg.eventBody.dataComponent.submitterId",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 260,
        "y": 1080,
        "wires": [
            [
                "d57746a85ace0cc7"
            ]
        ]
    },
    {
        "id": "45b1b36955baa6d8",
        "type": "ui-table",
        "z": "300f3dcabaae5254",
        "g": "9fb3ef259676f8ba",
        "group": "cfcee4d349cc2271",
        "name": "",
        "label": "text",
        "order": 1,
        "width": 0,
        "height": 0,
        "maxrows": "25",
        "passthru": false,
        "autocols": false,
        "showSearch": true,
        "selectionType": "none",
        "columns": [
            {
                "title": "Id",
                "key": "index",
                "type": "row",
                "width": "",
                "align": "start"
            },
            {
                "title": "First Name",
                "key": "name",
                "type": "text",
                "width": "",
                "align": "start"
            },
            {
                "title": "Last Name",
                "key": "surname",
                "type": "text",
                "width": "",
                "align": "start"
            },
            {
                "title": "Company",
                "key": "company",
                "type": "text",
                "width": "",
                "align": "start"
            },
            {
                "title": "Site/Role",
                "key": "site_role",
                "type": "text",
                "width": "",
                "align": "start"
            },
            {
                "title": "Email",
                "key": "email",
                "type": "text",
                "width": "",
                "align": "start"
            },
            {
                "title": "Phone",
                "key": "phone",
                "type": "text",
                "width": "",
                "align": "start"
            },
            {
                "title": "Tech Reference",
                "key": "technicalReference",
                "type": "text",
                "width": "",
                "align": "start"
            },
            {
                "title": "Interested in",
                "key": "interestedIn",
                "type": "html",
                "width": "",
                "align": "start"
            },
            {
                "title": "Interested in (other)",
                "key": "interestedInOther",
                "type": "text",
                "width": "",
                "align": "start"
            },
            {
                "title": "Lead Type",
                "key": "leadType",
                "type": "html",
                "width": "",
                "align": "start"
            },
            {
                "title": "Lead Type (other)",
                "key": "leadTypeOther",
                "type": "text",
                "width": "",
                "align": "start"
            },
            {
                "title": "Business Card",
                "key": "businessCard",
                "type": "html",
                "width": "",
                "align": "start"
            },
            {
                "title": "Photo",
                "key": "photo",
                "type": "html",
                "width": "",
                "align": "start"
            },
            {
                "title": "Short Description",
                "key": "shortDescription",
                "type": "text",
                "width": "",
                "align": "start"
            },
            {
                "title": "Next Step",
                "key": "nextStep",
                "type": "html",
                "width": "",
                "align": "start"
            },
            {
                "title": "Submitter",
                "key": "submitterId",
                "type": "text",
                "width": "",
                "align": "start"
            },
            {
                "title": "Submission Date",
                "key": "submitDate",
                "type": "text",
                "width": "",
                "align": "start"
            }
        ],
        "x": 910,
        "y": 1660,
        "wires": [
            []
        ]
    },
    {
        "id": "6ce6a3449757bdd7",
        "type": "function",
        "z": "300f3dcabaae5254",
        "g": "9fb3ef259676f8ba",
        "name": "Add Item to Array",
        "func": "if (flow.get(\"leadsDataSet\", \"file\") === undefined) {\n    flow.set(\"leadsDataSet\", [], \"file\");\n}\nvar leadsDataSet = flow.get(\"leadsDataSet\", \"file\");\nleadsDataSet.push(msg.payload);\nflow.set(\"leadsDataSet\", leadsDataSet, \"file\");\n\nmsg.payload = leadsDataSet;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nif(flow.get(\"leadsDataSet\",\"file\") === undefined) {\n    flow.set(\"leadsDataSet\", [], \"file\");\n}",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 1600,
        "wires": [
            [
                "45b1b36955baa6d8"
            ]
        ]
    },
    {
        "id": "f395db07c44ce272",
        "type": "http in",
        "z": "300f3dcabaae5254",
        "g": "5c3484cfe8d222c6",
        "name": "",
        "url": "/leads/media/:fn",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 1900,
        "wires": [
            [
                "08f4b857295a06ea"
            ]
        ]
    },
    {
        "id": "5de7cbb4.fa21a4",
        "type": "comment",
        "z": "300f3dcabaae5254",
        "g": "5c3484cfe8d222c6",
        "name": "Create http endpoint <nodered>/files/xxx  where xxx is the file name to download",
        "info": "",
        "x": 360,
        "y": 1820,
        "wires": []
    },
    {
        "id": "08f4b857295a06ea",
        "type": "function",
        "z": "300f3dcabaae5254",
        "g": "5c3484cfe8d222c6",
        "name": "Set base path",
        "func": "//restrict to c:\\temp\\\nvar basePath = \"/data/localfiles/leads/media/\";\nvar filename = msg.req.params.fn;\n\n\nif(filename.includes(\"..\\\\\")){\n    msg.payload = \"Illegal file path\";\n    msg.statusCode = 405;//not allowed\n    return [null, msg];//fire output 2\n} else if(filename.includes(\"../\")){\n    msg.payload = \"Illegal file path\";\n    msg.statusCode = 405;//not allowed\n    return [null, msg];//fire output 2\n} \n//TODO: add more checks\n\nmsg.filename = basePath + filename;\nreturn [msg, null];//fire output 1\n\n\n",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 1900,
        "wires": [
            [
                "82514ab51ae32dc1"
            ],
            [
                "2a312349cf93a068"
            ]
        ]
    },
    {
        "id": "82514ab51ae32dc1",
        "type": "file in",
        "z": "300f3dcabaae5254",
        "g": "5c3484cfe8d222c6",
        "name": "",
        "filename": "filename",
        "filenameType": "msg",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 600,
        "y": 1860,
        "wires": [
            [
                "2a312349cf93a068"
            ]
        ]
    },
    {
        "id": "2a312349cf93a068",
        "type": "http response",
        "z": "300f3dcabaae5254",
        "g": "5c3484cfe8d222c6",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 750,
        "y": 1920,
        "wires": []
    },
    {
        "id": "f601341bf3d709f1",
        "type": "catch",
        "z": "300f3dcabaae5254",
        "g": "5c3484cfe8d222c6",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 140,
        "y": 1960,
        "wires": [
            [
                "024e7bc21402d04b",
                "789d8738382dfb2b"
            ]
        ]
    },
    {
        "id": "024e7bc21402d04b",
        "type": "function",
        "z": "300f3dcabaae5254",
        "g": "5c3484cfe8d222c6",
        "name": "Set 404",
        "func": "msg.payload = msg.error;\nmsg.statusCode = 404;//resource not found\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 580,
        "y": 1960,
        "wires": [
            [
                "2a312349cf93a068"
            ]
        ]
    },
    {
        "id": "789d8738382dfb2b",
        "type": "debug",
        "z": "300f3dcabaae5254",
        "g": "5c3484cfe8d222c6",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 190,
        "y": 2000,
        "wires": []
    },
    {
        "id": "fb74a698ef0d0f18",
        "type": "function",
        "z": "300f3dcabaae5254",
        "g": "9fb3ef259676f8ba",
        "name": "Arrange Images",
        "func": "//BusinessCard\nif (msg.payload.businessCard.length > 0) {\n    var bcArray = msg.payload.businessCard.split(\",\");\n    var bcNew = \"\";\n    bcArray.forEach(function(item) {\n        let strippedUrl = item.replace(\"/data/localfiles\",\"\");\n        bcNew = bcNew.concat(`<a href='${strippedUrl}'><img src='${strippedUrl}' style='width: 100px; height: 100px' /></a><br/>`);\n    });\n    msg.payload.businessCard = bcNew;\n}\n\n//Photo\nif (msg.payload.photo.length > 0) {\n    var pArray = msg.payload.photo.split(\",\");\n    var pNew = \"\";\n    pArray.forEach(function (item) {\n        let strippedUrl = item.replace(\"/data/localfiles\", \"\");\n        pNew = pNew.concat(`<a href='${strippedUrl}'><img src='${strippedUrl}' style='width: 100px; height: 100px' /></a><br/>`);\n    });\n    msg.payload.photo = pNew;\n}\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 1560,
        "wires": [
            [
                "f451ee70c06ad79b"
            ]
        ]
    },
    {
        "id": "b88641da6648e816",
        "type": "function",
        "z": "300f3dcabaae5254",
        "g": "9fb3ef259676f8ba",
        "name": "Arrange Dates",
        "func": "var date = new Date(msg.payload.submitDate);\nmsg.payload.submitDate = date.toLocaleString();\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 1560,
        "wires": [
            [
                "9b7272c2a36e6388"
            ]
        ]
    },
    {
        "id": "f451ee70c06ad79b",
        "type": "function",
        "z": "300f3dcabaae5254",
        "g": "9fb3ef259676f8ba",
        "name": "Arrange Lists",
        "func": "//Interested In\nvar intArray = msg.payload.interestedIn.split(\",\");\nvar intNew = \"\";\nif (intArray.length > 0) {\n    intNew = intNew.concat(\"<ul>\");\n    intArray.forEach(function(item) {\n        intNew = intNew.concat(`<li>${item}</li>`);\n    });\n    intNew = intNew.concat(\"</ul>\");\n}\nmsg.payload.interestedIn = intNew;\n\n//Lead Type\nvar ltArray = msg.payload.leadType.split(\",\");\nvar ltNew = \"\";\nif (ltArray.length > 0) {\n    ltNew = ltNew.concat(\"<ul>\");\n    ltArray.forEach(function(item) {\n        ltNew = ltNew.concat(`<li>${item}</li>`);\n    });\n    ltNew = ltNew.concat(\"</ul>\");\n}\nmsg.payload.leadType = ltNew;\n\n//Next Step\nvar nsArray = msg.payload.nextStep.split(\",\");\nvar nsNew = \"\";\nif (nsArray.length > 0) {\n    nsNew = nsNew.concat(\"<ul>\");\n    nsArray.forEach(function(item) {\n        nsNew = nsNew.concat(`<li>${item}</li>`);\n    });\n    nsNew = nsNew.concat(\"</ul>\");\n}\nmsg.payload.nextStep = nsNew;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 1560,
        "wires": [
            [
                "b88641da6648e816"
            ]
        ]
    },
    {
        "id": "9b7272c2a36e6388",
        "type": "function",
        "z": "300f3dcabaae5254",
        "g": "9fb3ef259676f8ba",
        "name": "Arrange Submitter name",
        "func": "var contacts = flow.get(\"contacts\",\"file\"); \nvar contact = contacts.find(x => x.accountId === msg.payload.submitterId);\nif (contact === undefined) {\n    msg.payload.submitterId = `[Not a contact] ${msg.payload.submitterId}`;\n} else {\n    msg.payload.submitterId = `[${contact.accountName}] ${msg.payload.submitterId}`;\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 1600,
        "wires": [
            [
                "6ce6a3449757bdd7"
            ]
        ]
    },
    {
        "id": "cec49c1949fb0d5b",
        "type": "smeSender",
        "z": "300f3dcabaae5254",
        "connector": "f9adc5c8242ed986",
        "async": "0",
        "name": "",
        "actionName": "account_contacts",
        "actionText": "Account - Get Contacts",
        "recipientId": "",
        "recipientIdType": "str",
        "messageId": "",
        "messageIdType": "str",
        "limit": 0,
        "limitType": "num",
        "recipientIds": "",
        "recipientIdsType": "str",
        "groupChatId": "",
        "groupChatIdType": "str",
        "channelId": "",
        "channelIdType": "str",
        "title": "",
        "titleType": "str",
        "saveLocation": "savedEntityId",
        "saveLocationType": "flow",
        "saveRequestIdLocation": "savedRequestId",
        "saveRequestIdLocationType": "flow",
        "logToConsole": false,
        "x": 370,
        "y": 60,
        "wires": [
            [
                "bd90597bfd9e5b45"
            ]
        ]
    },
    {
        "id": "bd90597bfd9e5b45",
        "type": "function",
        "z": "300f3dcabaae5254",
        "name": "Save Contacts to file",
        "func": "var myContacts = msg._sme.responseMsgs[0].data;\nflow.set(\"contacts\", myContacts, \"file\");\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "a48fde972a395d4d",
        "type": "inject",
        "z": "300f3dcabaae5254",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "300",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 60,
        "wires": [
            [
                "cec49c1949fb0d5b"
            ]
        ]
    },
    {
        "id": "902ad7423a22d1ca",
        "type": "switch",
        "z": "300f3dcabaae5254",
        "name": "Form Not Exists?",
        "property": "#:(file)::savedForm",
        "propertyType": "flow",
        "rules": [
            {
                "t": "null"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 730,
        "y": 540,
        "wires": [
            [
                "0b8cc7c7000f5045"
            ]
        ]
    },
    {
        "id": "8e100fc20eb9cc08",
        "type": "inject",
        "z": "300f3dcabaae5254",
        "g": "cc1a0aabc6f9a099",
        "name": "Reset Form",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 520,
        "wires": [
            [
                "0b8cc7c7000f5045"
            ]
        ]
    },
    {
        "id": "d5c65efc0e1c8afd",
        "type": "inject",
        "z": "300f3dcabaae5254",
        "g": "6b14bfafa47815d0",
        "name": "Setup Channels and Form",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 210,
        "y": 220,
        "wires": [
            [
                "cd4e2faf6aaa0aa1"
            ]
        ]
    },
    {
        "id": "cd4e2faf6aaa0aa1",
        "type": "switch",
        "z": "300f3dcabaae5254",
        "g": "2074788be6c900ee",
        "name": "Leads Form Channel Not Exists?",
        "property": "#:(file)::leadsFormChannelId",
        "propertyType": "flow",
        "rules": [
            {
                "t": "null"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 220,
        "y": 340,
        "wires": [
            [
                "c120259cd3327442"
            ],
            [
                "e5cdd2aaba099052"
            ]
        ]
    },
    {
        "id": "c120259cd3327442",
        "type": "smeSender",
        "z": "300f3dcabaae5254",
        "g": "2074788be6c900ee",
        "connector": "f9adc5c8242ed986",
        "async": "0",
        "name": "",
        "actionName": "channel_create",
        "actionText": "Channel - Create",
        "recipientId": "",
        "recipientIdType": "str",
        "messageId": "",
        "messageIdType": "str",
        "limit": 0,
        "limitType": "num",
        "recipientIds": "",
        "recipientIdsType": "str",
        "groupChatId": "",
        "groupChatIdType": "str",
        "channelId": "",
        "channelIdType": "str",
        "title": "Leads Form",
        "titleType": "str",
        "saveLocation": "#:(file)::leadsFormChannelId",
        "saveLocationType": "flow",
        "saveRequestIdLocation": "savedRequestId",
        "saveRequestIdLocationType": "flow",
        "cameraOptions": [],
        "cameraList": [],
        "logToConsole": false,
        "x": 570,
        "y": 340,
        "wires": [
            [
                "1b488ad187f45a56"
            ]
        ]
    },
    {
        "id": "6e448056bee3daaf",
        "type": "change",
        "z": "300f3dcabaae5254",
        "g": "2074788be6c900ee",
        "name": "Reset headers",
        "rules": [
            {
                "t": "delete",
                "p": "headers",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1000,
        "y": 340,
        "wires": [
            [
                "e5cdd2aaba099052"
            ]
        ]
    },
    {
        "id": "1b488ad187f45a56",
        "type": "delay",
        "z": "300f3dcabaae5254",
        "g": "2074788be6c900ee",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 820,
        "y": 340,
        "wires": [
            [
                "6e448056bee3daaf"
            ]
        ]
    },
    {
        "id": "e5cdd2aaba099052",
        "type": "switch",
        "z": "300f3dcabaae5254",
        "g": "2074788be6c900ee",
        "name": "Leads Results Channel Not Exists?",
        "property": "#:(file)::leadsResultsChannelId",
        "propertyType": "flow",
        "rules": [
            {
                "t": "null"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 220,
        "y": 420,
        "wires": [
            [
                "7e984debfb591566"
            ],
            [
                "902ad7423a22d1ca"
            ]
        ]
    },
    {
        "id": "7e984debfb591566",
        "type": "smeSender",
        "z": "300f3dcabaae5254",
        "g": "2074788be6c900ee",
        "connector": "f9adc5c8242ed986",
        "async": "0",
        "name": "",
        "actionName": "channel_create",
        "actionText": "Channel - Create",
        "recipientId": "",
        "recipientIdType": "str",
        "messageId": "",
        "messageIdType": "str",
        "limit": 0,
        "limitType": "num",
        "recipientIds": "",
        "recipientIdsType": "str",
        "groupChatId": "",
        "groupChatIdType": "str",
        "channelId": "",
        "channelIdType": "str",
        "title": "Leads Results",
        "titleType": "str",
        "saveLocation": "#:(file)::leadsResultsChannelId",
        "saveLocationType": "flow",
        "saveRequestIdLocation": "savedRequestId",
        "saveRequestIdLocationType": "flow",
        "cameraOptions": [],
        "cameraList": [],
        "logToConsole": false,
        "x": 560,
        "y": 420,
        "wires": [
            [
                "49211e32fbee5772"
            ]
        ]
    },
    {
        "id": "49211e32fbee5772",
        "type": "delay",
        "z": "300f3dcabaae5254",
        "g": "2074788be6c900ee",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 820,
        "y": 420,
        "wires": [
            [
                "be20a7640ddb152f"
            ]
        ]
    },
    {
        "id": "be20a7640ddb152f",
        "type": "change",
        "z": "300f3dcabaae5254",
        "g": "2074788be6c900ee",
        "name": "Reset headers",
        "rules": [
            {
                "t": "delete",
                "p": "headers",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1000,
        "y": 420,
        "wires": [
            [
                "902ad7423a22d1ca"
            ]
        ]
    },
    {
        "id": "84a2120ee45a86ae",
        "type": "link in",
        "z": "300f3dcabaae5254",
        "g": "9fb3ef259676f8ba",
        "name": "in_resetLeadsTable",
        "links": [
            "26058e38c191d8db"
        ],
        "x": 165,
        "y": 1660,
        "wires": [
            [
                "45b1b36955baa6d8"
            ]
        ]
    },
    {
        "id": "bb590bcad46fb2aa",
        "type": "inject",
        "z": "300f3dcabaae5254",
        "g": "6a99844851e518d9",
        "name": "Reset Table",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[]",
        "payloadType": "json",
        "x": 1010,
        "y": 220,
        "wires": [
            [
                "953e9f030d198554"
            ]
        ]
    },
    {
        "id": "953e9f030d198554",
        "type": "change",
        "z": "300f3dcabaae5254",
        "g": "6a99844851e518d9",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "#:(file)::leadsDataSet",
                "pt": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1230,
        "y": 220,
        "wires": [
            [
                "26058e38c191d8db"
            ]
        ]
    },
    {
        "id": "26058e38c191d8db",
        "type": "link out",
        "z": "300f3dcabaae5254",
        "g": "6a99844851e518d9",
        "name": "out_resetLeadsTable",
        "mode": "link",
        "links": [
            "84a2120ee45a86ae"
        ],
        "x": 1445,
        "y": 220,
        "wires": []
    },
    {
        "id": "f9adc5c8242ed986",
        "type": "sme-main-connector",
        "name": "SMECON",
        "apiKeyType": "env"
    },
    {
        "id": "cfcee4d349cc2271",
        "type": "ui-group",
        "name": "Leads",
        "page": "c7666ad3685a05be",
        "width": "12",
        "height": "1",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "c7666ad3685a05be",
        "type": "ui-page",
        "name": "Leads Capture",
        "ui": "fcbb1149ea4d3fdd",
        "path": "/leads",
        "icon": "account-tie-voice",
        "layout": "grid",
        "theme": "242431ff40afb6f8",
        "order": 2,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "fcbb1149ea4d3fdd",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "showPageTitle": true,
        "navigationStyle": "default",
        "titleBarStyle": "hidden"
    },
    {
        "id": "242431ff40afb6f8",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094ce",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    }
]